<?xml version="1.0"?>
<!--
/**
* Alpine_Cms
*
* @category    Alpine
* @package     Alpine_Cms
* @copyright   Copyright (c) 2018 Alpine Consulting, Inc
* @author      Denis Furman <denis.furman@alpineinc.com>
* @author      Aleksandr Mikhailov <aleksandr.mikhailov@alpineinc.com>
* @author      ilya.antonov@alpineinc.com
* @author      Dmitry Naumov <dmitry.naumov@alpineinc.com>
* @author      Andrey Nesterov <andrey.nesterov@alpineinc.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Alpine_Cms" setup_version="0.7.1">
        <sequence>
            <module name="Magento_Cms"/>
            <module name="Magento_Config"/>
        </sequence>
    </module>
</config>
