<?xml version="1.0"?>
<!--
/**
 * Alpine_Acton
 *
 * @category    Alpine
 * @package     Alpine_Acton
 * @copyright   Copyright (c) 2018 Alpine Consulting, Inc
 * @author      Andrey Nesterov <andrey.nesterov@alpineinc.com>
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="webforms_result_submit">
        <observer name="alpine_acton_webforms_get_result_id" instance="Alpine\Acton\Observer\Webforms\Model\Form" />
    </event>
</config>
