<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Company\Model\Email\Sender">
        <plugin name="admin_company_email_create" type="Int\Company\Plugin\Email\Sender"/>
    </type>
</config>