<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="bdm" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>BDM Settings</label>
            <tab>intcore</tab>
            <resource>Int_Configurator::configurator_config</resource>
            
            
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>BDM Settings</label>
                
                <field id="allowed_groups" translate="label comment" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed groups for BDS/BDM</label>
                    <source_model>Magento\Customer\Model\Config\Source\Group</source_model>
                </field>
                
                
                <field id="bds_customer_group" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select customer group for BDS</label>
                    <source_model>Magento\Customer\Model\Config\Source\Group</source_model>
                </field>
                
                <field id="bdm_manager_customer_group" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select customer group for BDM Manager</label>
                    <source_model>Magento\Customer\Model\Config\Source\Group</source_model>
                </field>
                
                
            </group>
        </section>
    </system>
</config>
