<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Model\Product\Type\Configurable\Price">
        <plugin name="Int_ConfigPrice_plugin_product_type_configurable_price" type="Int\ConfigPrice\Plugin\Product\Type\Configurable\Price"/>
    </type>
    <preference for="Magento\ConfigurableProduct\Model\ResourceModel\Product\Indexer\Price\BaseStockStatusSelectProcessor" type="Int\ConfigPrice\Model\ResourceModel\Product\Indexer\Price\BaseStockStatusSelectProcessor" />
</config>