<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="int_product" translate="label" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Import</label>
            <tab>catalog</tab>
            <resource>Int_ExtenedFilter::import_config</resource>
            <group id="import" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Import Configuration</label>
                <field id="allow_updation" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Allow Quantity Updation</label>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
            </group>
        </section>
    </system>
</config>

