<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Stockstatus
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Eav\Attribute">
        <plugin name="Amasty_Stockstatus::qty_based_visible" type="Amasty\Stockstatus\Plugin\Catalog\Model\ResourceModel\Eav\Attribute"/>
    </type>
</config>
