<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="paypal_controller_success_action" instance="Int\PayPal\Observer\ChangeOrderStatus"  />
    </event>
</config>