<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <password>
                <reset_password_template_pwa>customer_password_reset_password_template_pwa</reset_password_template_pwa>
            </password>
        </customer>
    </default>
</config>
