<?xml version="1.0"?>
<!--
/**
 * Alpine_ProductForSales
 *
 * @category    Alpine
 * @package     Alpine_ProductForSales
 * @copyright   Copyright (c) 2018 Alpine Consulting, Inc
 * @author      Andrey Nesterov <andrey.nesterov@alpineinc.com>
 * @author      Dmitry Naumov <dmitry.naumov@alpineinc.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Wishlist\CustomerData\Wishlist" type="Alpine\ProductForSales\CustomerData\Wishlist"/>
    <type name="Magento\Catalog\Pricing\Render\FinalPriceBox">
        <plugin name="alpine_productforsales_finalpricebox_plugin"
                type="Alpine\ProductForSales\Pricing\Render\FinalPriceBox" sortOrder="10" disabled="false"/>
    </type>

</config>
