<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_ProductStockAlertApi
 * @author     Extension Team
 * @copyright  Copyright (c) 2020-2021 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bss\ProductStockAlertApi\Api\StockNoticeManagementInterface"
                type="Bss\ProductStockAlertApi\Model\StockNoticeManagement" />
    <preference for="Bss\ProductStockAlertApi\Api\Data\ConfigurationInterface"
                type="Bss\ProductStockAlertApi\Model\Configuration" />
    <preference for="Bss\ProductStockAlertApi\Api\Data\StockNoticeInterface"
                type="Bss\ProductStockAlertApi\Model\StockNotice" />
    <preference for="Bss\ProductStockAlertApi\Api\Data\ProductDataInterface"
                type="Bss\ProductStockAlertApi\Model\ProductData" />
    <preference for="Bss\ProductStockAlertApi\Api\Data\ResultDataInterface"
                type="Bss\ProductStockAlertApi\Model\ResultData" />
    <preference for="Bss\ProductStockAlertApi\Api\Data\ProductDataResultInterface"
                type="Bss\ProductStockAlertApi\Model\ProductDataResult" />
    <preference for="Bss\ProductStockAlertApi\Api\Data\StockNoticeResultInterface"
                type="Bss\ProductStockAlertApi\Model\StockNoticeResult" />
</config>
