<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <password>
                <invitation_template_pwa>customer_password_invitation_template_pwa</invitation_template_pwa>
            </password>
        </customer>
    </default>
</config>
