<?xml version="1.0"?>
<!--
/**
 * Module to add SKU to product captions
 *
 * @category    Alpine
 * @package     Alpine_ProductImageCaption
 * @copyright   Copyright (c) 2018 Alpine Consulting, Inc
 * @author      Dmitry Naumov <dmitry.naumov@alpineinc.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Alpine_ProductImageCaption" setup_version="0.1.0">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
