<?xml version="1.0"?>
<!--
/**
 * Alpine_Storelocator
 *
 * @category    Alpine
 * @package     Alpine_Storelocator
 * @copyright   Copyright (c) 2019 Alpine Consulting, Inc
 * @author      Anton Smolenov <anton.smolenov@alpineinc.com>
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="alpine_store_locator" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Store Locator</label>
            <tab>alpine</tab>
            <resource>Alpine_Storelocator::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="no_results_message" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label" type="textarea">
                    <label>No results message</label>
                </field>
            </group>
        </section>
    </system>
</config>
