<?xml version="1.0"?>
<!--
/**
 * Alpine_Setup
 *
 * @category    Alpine
 * @package     Alpine_Setup
 * @copyright   Copyright (c) 2017 Alpine Consulting, Inc (www.alpineinc.com)
 * @author      jjosephson@alpineinc.com
 */

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Alpine_Setup" setup_version="1.0.0">
    </module>
</config>
