<?xml version="1.0"?>
<!--
* Alpine_Storelocator
*
* @category    Alpine
* @package     Alpine_Accuride
* @copyright   Copyright (c) 2018 Alpine Consulting, Inc
* @author      Denis Furman <denis.furman@alpineinc.com>
* @author      Aleksandr Mikhailov (aleksandr.mikhailov@alpineinc.com)
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Alpine_Storelocator" setup_version="0.3.2">
        <sequence>
            <module name="Amasty_Storelocator"/>
        </sequence>
    </module>
</config>