<?xml version="1.0"?>
<!--
/**
 * Alpine_Catalog
 *
 * @category    Alpine
 * @package     Alpine_Catalog
 * @copyright   Copyright (c) 2018 Alpine Consulting, Inc
 * @author      Aleksandr Mikhailov <aleksandr.mikhailov@alpineinc.com>
 * @author      Andrey Nesterov <andrey.nesterov@alpineinc.com>
 * @author      Evgeniy Derevyanko <evgeniy.derevyanko@alpineinc.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="Alpine\Catalog\Block\Product\ListProduct"/>
    <preference for="Magento\CatalogSearch\Block\SearchResult\ListProduct" type="Alpine\Catalog\Block\Product\ListProduct"/>
    <preference for="Magento\Catalog\Block\Product\ImageBuilder" type="Alpine\Catalog\Block\Product\ImageBuilder" />
    <type name="Magento\Catalog\Helper\Image">
        <plugin name="alpine_catalog_helper_image_around_plugin" type="Alpine\Catalog\Plugin\Helper\Image" sortOrder="10"/>
    </type>
    <type name="Magento\GroupedProduct\Model\Product\Type\Grouped">
        <plugin name="alpine_catalog_grouped_product_model" type="\Alpine\Catalog\Plugin\Model\Product\Type\Grouped"/>
    </type>
</config>
