<?xml version="1.0"?>
<!--
/**
 * Alpine_Acton
 *
 * @category    Alpine
 * @package     Alpine_Acton
 * @copyright   Copyright (c) 2018 Alpine Consulting, Inc
 * @author      Andrey Nesterov <andrey.nesterov@alpineinc.com>
 * @author      Aleksandr Mikhailov <aleksandr.mikhailov@alpineinc.com>
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="alpine_acton" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Act-On</label>
            <tab>alpine</tab>
            <resource>Alpine_Acton::config_acton</resource>
            <group id="forms" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Forms Path</label>
                <field id="mapping" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mapping</label>  
                    <frontend_model>Alpine\Acton\Block\Adminhtml\Form\Field\Mapping</frontend_model>         
                    <backend_model>Alpine\Acton\Model\Adminhtml\System\Config\Mapping</backend_model>
                </field>
                <field id="checkout_newsletter_subscribe_action_url" translate="label"
                       type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Action URL for form in checkout</label>
                </field>
            </group>
        </section>
    </system>
</config>
