<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Reports\Controller\Adminhtml\Report\Statistics\RefreshLifetime" 
     type="Int\RefreshStatistics\Controller\Adminhtml\Report\Statistics\RefreshLifetime" />
     <preference for="Magento\Reports\Controller\Adminhtml\Report\Statistics\RefreshRecent" 
     type="Int\RefreshStatistics\Controller\Adminhtml\Report\Statistics\RefreshRecent" />
</config>