<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Int_Core::menu" title="Int Main" module="Int_Core" sortOrder="50" resource="Int_Core::menu"/>
    </menu>
</config>
