<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name ="Magento\Catalog\Model\Product">
        <plugin name ="Amasty_Stockstatus::ProductGetName" type ="Amasty\Stockstatus\Plugin\Catalog\Model\Product" />
    </type>

    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="Amasty_Stockstatus::ListStatus" type="Amasty\Stockstatus\Plugin\Catalog\Block\Product\ListProductPlugin" />
    </type>

    <type name="Amasty\HidePrice\Helper\Data">
        <plugin name="Amasty_Stockstatus::CheckStockStatus" type="Amasty\Stockstatus\Plugin\HidePrice\Helper\Data" />
    </type>

    <type name="Magento\InventoryConfigurableProduct\Plugin\Model\ResourceModel\Attribute\IsSalableOptionSelectBuilder">
        <plugin name="Amasty_Stockstatus::out-of-stock-options-msi" type="Amasty\Stockstatus\Plugin\InventoryConfigurableProduct\Plugin\Model\ResourceModel\Attribute\IsSalableOptionSelectBuilder"/>
    </type>

    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="Amasty_Stockstatus::StockstatusConfigurable" type="Amasty\Stockstatus\Plugin\Product\View\Type\Configurable"/>
    </type>

    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="Amasty_Stockstatus::Addstatus" type="Amasty\Stockstatus\Plugin\Catalog\Block\Product\AbstractProductPlugin" />
    </type>
</config>
