<?xml version="1.0"?>
<!--
/**
 * @author Atwix Team
 * @copyright Copyright (c) 2016 Atwix (https://www.atwix.com/)
 * @package Atwix_Richsnippets
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="breadcrumbsSnippetsHelper" type="Atwix\Richsnippets\Plugin\Block\Html\Breadcrumbs" />
    </type>
    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="productSnippets" type="Atwix\Richsnippets\Plugin\Block\Product\View" />
    </type>
    <type name="Magento\Review\Block\Product\ReviewRenderer">
        <plugin name="atwix-rich-snippets-product-list-rating-wrapper"
                type="Atwix\Richsnippets\Plugin\Block\Product\ReviewRenderer" sortOrder="1000"/>
    </type>
</config>