<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <plugin name="sales_grid_custom_column" type="Int\OrderCompleteDate\Plugins\Sales\Order\Grid\Collection" sortOrder="100" disabled="false" />
    </type>
    <preference for="Magento\Ui\Model\Export\ConvertToCsv" type="Int\OrderCompleteDate\Model\Export\ConvertToCsv" />
    <preference for="Magento\Ui\Model\Export\ConvertToXml" type="Int\OrderCompleteDate\Model\Export\ConvertToXml" />
</config>