<?xml version="1.0"?>
<!--
/**
* Alpine_OrdersExport
*
* @category    Alpine
* @package     Alpine_OrdersExport
* @copyright   Copyright (c) 2018 Alpine Consulting, Inc
* @author      Dmitry Naumov <dmitry.naumov@alpineinc.com>
* @author      Andrey Nesterov <andrey.nesterov@alpineinc.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\Orderexport\Model\OrderExportList">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="defaultOptions" xsi:type="array">
                    <item name="ExportReport1Value" xsi:type="array">
                        <item name="value" xsi:type="string">ExportReport1Value</item>
                        <item name="label" xsi:type="string" translate="true">Slide Series</item>
                        <item name="url" xsi:type="string">ordersexport/export/report1</item>
                    </item>
                    <item name="ExportReport2Value" xsi:type="array">
                        <item name="value" xsi:type="string">ExportReport2Value</item>
                        <item name="label" xsi:type="string" translate="true">BBU</item>
                        <item name="url" xsi:type="string">ordersexport/export/report2</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Alpine\OrdersExport\Controller\Adminhtml\Export\Report1">
        <arguments>
            <argument name="fileName" xsi:type="string">Slide_Series.csv</argument>
            <argument name="fields" xsi:type="array">
                <item name="company_number" xsi:type="string" translate="true">Company Number</item>
                <item name="account_number" xsi:type="string" translate="true">Account Number</item>
                <item name="cost_center" xsi:type="string" translate="true">Cost Center</item>
                <item name="subaccount" xsi:type="string" translate="true">Subaccount</item>
                <item name="project_number" xsi:type="string" translate="true">Project Number</item>
                <item name="revenue" xsi:type="string" translate="true">Revenue</item>
                <item name="slide_series" xsi:type="string" translate="true">Slide Series</item>
            </argument>
        </arguments>
    </type>
    <type name="Alpine\OrdersExport\Controller\Adminhtml\Export\Report2">
        <arguments>
            <argument name="fileName" xsi:type="string">BBU.csv</argument>
            <argument name="fields" xsi:type="array">
                <item name="company_number" xsi:type="string" translate="true">Company Number</item>
                <item name="account_number" xsi:type="string" translate="true">Account Number</item>
                <item name="cost_center" xsi:type="string" translate="true">Cost Center</item>
                <item name="subaccount" xsi:type="string" translate="true">Subaccount</item>
                <item name="project_number" xsi:type="string" translate="true">Project Number</item>
                <item name="bbu" xsi:type="string" translate="true">BBU</item>
                <item name="slide_series" xsi:type="string" translate="true">Slide Series</item>
            </argument>
        </arguments>
    </type>
</config>
